body{
    background-image: url("http://media-cache-ak0.pinimg.com/736x/15/34/b3/1534b32a8fa89225432aa8c52e2111d9.jpg");
}  

/*Header of index page*/
h3{
    text-align:center;
    font-size:70px;
    font-family: inherit;
    color: #333333;
    background-color:   #FF3333;
    margin-bottom: 0;
}


/*navigation bar on index page*/
#navbar {
    margin-top: 10px;
    left: 45%;
    text-align: center;
}


/*header on index page*/
#header {
    position:relative;
    top: -15px;
    background-color: #333333 ;
}


ul{
    list-style-type: none;
    position:relative;
    margin: 10px;
}

/*The List itself*/
li{
    display:inline;
    padding:30px;
    /*border:2px solid #000000;*/
    /*border-radius: 15px 5px;*/
    font-family: Garamond;
    font-size: 25px;
}

/*Unvisited link*/
a:link{
    color: #f8f8f8;
    text-decoration:none;
}

/*visited link*/
a:visited{
    color:#f8f8f8;
}

/*mouse over link*/
a:hover{
   color: #00ccff;
}

#indexText{
    height:1200px;
    width:900px;
    border: 2px solid #00ccff;
    /*border-radius: 5px;*/
    background-color: #ffffff;
    /*margin: 30px 50px 10px 10px;*/
    margin-right: auto;
    margin-left: auto;
    opacity: .93;
}

#welcBox{
    height:200px;
    width:600px;
    /*border: 2px solid #FF0066;*/
    border-radius: 10px;
    background-color: #FF3333;
    margin-right: auto;
    margin-left:auto;
    /*display: inline-block;*/
    /*margin: 30px 50px 20px 30px;*/
    /*float:left;*/
    /*opacity: .7;*/
}

/*Image with people*/
img{
    height:300px;
    width:300px;
    position: relative;
    /*float: right;*/
    left: 300px;
    bottom: 950px;
    
}

#introBox{
    height:500px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    margin: 60px 464px 60px 20px;
    display: inline-block;
    /*margin-left: auto;*/
}

#mainP {
    height:500px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    /*margin: 80px -100px 60px 20px;*/
    display: inline-block;
}

#overView{
    height:200px;
    width:600px;
    border-radius: 10px;
    background-color: #FF3333;
    margin-left: auto;
    margin-right:auto;
    position: relative;
    top: -10px;
    /*display: inline-block;*/
}
/*Selects first child which is the title*/
 div > p:first-child{
    font-size: 18px;
    color: #00ccff;
    text-align: center;
    text-decoration: underline;
}

/*Selects the second child which is the actual text*/
div > p:nth-child(2){
    font-size: 15px;
    color: #00ccff;
    text-align: center;
}





